/* 
SPDX-License-Identifier: GPL-3.0-only 
Copyright © 2025 Jonathan Kwok
*/

:root {
  --primary: #032e2e;
  --secondary: #0C5050;
  --accent: #88CFCF;
  --contrast: #F57C22;
  --red: #E21D20;
  --darkRed: #a8181b;
  --grey: #c1c1c1;
  --darkGrey: #a6a6a6;
  --background: #f7fbfb;
}