/* 
SPDX-License-Identifier: GPL-3.0-only 
Copyright © 2025 Jonathan Kwok
*/

.indented-button {
    transition: all 0.2s ease-in-out;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
}