/* 
SPDX-License-Identifier: GPL-3.0-only 
Copyright © 2025 Jonathan Kwok
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reinvented-color-wheel/css/reinvented-color-wheel.min.css";

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--background);
  font-family: 'Nunito', Arial, sans-serif;
  color: var(--primary);
  border-color: var(--primary);
}