/* 
SPDX-License-Identifier: GPL-3.0-only 
Copyright © 2025 Jonathan Kwok
*/

.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}