.createNewPaperButtonWrapper {
    animation-delay: 0.2s;
    animation-name: staringFadeInAnimation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.uploadPaperButtonWrapper {
    animation-delay: 0.3s;
    animation-name: staringFadeInAnimation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes staringFadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeOutTransition {
    animation-name: fadeOutTransitionFrames;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    transform: scale(1);
    opacity: 1;
}

@keyframes fadeOutTransitionFrames {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.fadeInTransition {
    animation-delay: 0s;
    animation-name: fadeInTransitionFrames;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: scale(0);
}

@keyframes fadeInTransitionFrames {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


.shake {
  animation: horizontal-shaking 0.6s ease-in-out;
}

@keyframes horizontal-shaking {
  0%   { transform: translateX(0); }
  8%   { transform: translateX(5px); }
  16%  { transform: translateX(-5px); }
  24%  { transform: translateX(5px); }
  32%  { transform: translateX(-5px); }
  40%  { transform: translateX(5px); }
  48%  { transform: translateX(-5px); }
  56%  { transform: translateX(5px); }
  64%  { transform: translateX(-5px); }
  72%  { transform: translateX(5px); }
  80%  { transform: translateX(-5px); }
  88%  { transform: translateX(5px); }
  96%  { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#wholeContainer {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: 3px 3px;
}
